<hr><hr>
<footer>
    <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mb-5 text-center" style="margin-top: 30px;">
          <a >
            <i class="fa fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <a >
            <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <a >
            <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
          </a>
          <a >
            <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <a>
            <i class="fa fa-pinterest fa-lg white-text fa-2x"> </i>
          </a>
        </div>
      </div>
    </div>
</div>
  <div class="row">
  <div class="footer-copyright text-center py-3 bg-dark text-white col-12">© 2021 Copyright:
    <a href="#">NoobsKart.com</a>
  </div>
</div>

</footer>